<launch>
  <!-- Load robot model -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find simple_description)/urdf/model.urdf.xacro'"/>

  <!-- Send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz and load a config that displays the robot -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simple_description)/launch/model.rviz"/>
</launch>